<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Recipe Book</a>
    <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"  aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02"  >
      <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <ul class="nav navbar-nav">
                    <li>
                      <a class="nav-link" href="#" (click)="onSelected('recipe')">Recipes </a>
                    </li>
                    <li>
                      <a class="nav-link" href="#" (click)="onSelected('Shopping')">Shopping List</a>
                    </li> 
                  </ul>
            </div> 
            <div class="col-sm-6">
                <ul class="nav navbar-nav float-right">
                    <li class="dropdown">
                      <a href="#" class="nav-link">Manage <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li>  <a class="nav-link" href="#">Save Data</a></li>
                          <li>  <a class="nav-link" href="#">Fetch Data</a></li>
                    </ul>
                   </li> 
                  </ul>
            </div>
        </div>
      </div>
      
      
       
    </div>
  </nav>